$background_color: #d1754b;
$white_color: #ffffff;

$xs_max: 767px;
$sm_max: 991px;
$sm_min: 768px;
$md_max: 1199px;
$md_min: 992px;
$max_device: 568px;
$min_device: 480px;
$max_width: 979px;
$min_width: 320px;
$lg_min: 1200px;
$lg_max: 1350px;