@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'Lato-Regular.ttf';
  src: url(font-path("Lato-Regular.ttf"));
}

@font-face {
  font-family: 'Lato-Thin';
  src: url(font-path("Lato-Thin.ttf"));
}

@font-face {
  font-family: 'Lato-Semibold';
  src: url(font-path("Lato-Semibold.ttf"));
}

@font-face {
  font-family: 'Lato-Light';
  src: url(font-path("Lato-Light.ttf"));
}

@font-face {
  font-family: 'Lato-Bold';
  src: url(font-path("Lato-Bold.ttf"));
}

@font-face {
  font-family: 'Lato-Medium';
  src: url(font-path("Lato-Medium.ttf"));
}

@font-face {
  font-family: 'museo-sans-100';
  src: url(font-path("museo-sans-100.ttf"));
}