div class="main">
  <div class="container">

   <% @entries = client.entries %>
    <% # @entries.each do |entry|  %>
   <%= # entry.id %><br/>
 
   			<%= #entry.logo.file.url	%><br/>
   <%= #entry.content %><br/>
   <br/><br/>
    <% #end %>
   

  </div>
</div>

